pytest==7.4.0
redis==4.6.0
requests==2.31.0
selenium==4.11.2
Appium-Python-Client==2.7.1
Appium-UIAutomation==0.1.0
PyMySQL==1.0.2
allure-pytest==2.13.2
allure-python-commons==2.13.2
PyYAML==6.0.1
DingtalkChatbot==1.5.7